body {
    background-color: rgb(53, 1, 53);
    color: white;
}

.container {
    margin: 0 auto;
    width: 80em;
    text-align: center;
}

li {
    display: inline;
    color: white;
}

a {
    display: inline;
    padding: 8px;
    color: white;
    background-color: rgb(53, 1, 53);
}

form {
    display: inline-grid;
    background-color: grey;
    border-color: black;
    border-style: solid;
}

h1,
h2,
p,
form,
.contents,
fieldset,
.login .container {
    text-align: center;
    color: white;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-item {
    display: inline-block;
}

.radio {
    display: inline;
}

table,
.card-large .container .card-large {
    display: inline-block;
    margin: 0 auto ! important;
    width: 80em !important;
    text-align: center !important;
}

fieldset {
    display: grid;
    size: 50%;
}

form input[type="submit"] {
    border: 2px solid #FFFFFF;
    font-size: 16px;
    padding: 5px;
    width: 300px;
}