body {
    background-color: rgb(53, 1, 53);
    color: white;
}

li {
    display: inline;
    color: white;
}

a {
    display: inline;
    padding: 8px;
    color: white;
    background-color: rgb(53, 1, 53);
}

form {
    display: inline-grid;
    background-color: grey;
    border-color: black;
    border-style: solid;
}

h1,
h2,
p,
form,
.contents,
fieldset,
.login {
    text-align: center;
    color: white;
}

img {
    display: inline;
    padding-left: 575px;
}

.blog-item {
    display: inline-block;
}

.radio {
    display: inline;
}

table {
    display: inline-block;
}

fieldset {
    display: grid;
    size: 50%;
}

form input[type="submit"] {
    border: 2px solid #FFFFFF;
    font-size: 16px;
    padding: 5px;
    width: 300px;
}